div{
    .sort{
        font-size: 25px;
        float: left;
    }
    input,mat-select{
        width:10rem ;
    }
}
.search-button{
    width:5vw;
    justify-content: center;
}
form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:0.2rem;
}