<form [formGroup]="searchForm" (ngSubmit)="search()">
  <div>
    <mat-form-field appearance="fill">
      <mat-label
        >sort by...<mat-icon class="sort" color="primary"
          >sort</mat-icon
        ></mat-label
      >
      <mat-select formControlName="sortBy" [(value)]="selectedSort" id="sortBy" type="string">
        <mat-option
          #option
          *ngFor="let sortOption of sortByOptions"
          [value]="sortOption" name="sortBy"
          (click)="search()"
          >{{ sortOption }}</mat-option
        >
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>name</mat-label>
      <input formControlName="name" matInput type="string" />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>maxAverageReplyTime</mat-label>
      <input formControlName="averageReplyTime" matInput type="number" />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>maxAge</mat-label>
      <input formControlName="age" matInput type="number" />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>maxCanceledOffers</mat-label>
      <input formControlName="canceledOffers" matInput type="number" />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>maxAcceptedOffers</mat-label>
      <input formControlName="acceptedOffers" matInput type="number" />
    </mat-form-field>
  </div>

  <div class="search-button">
    <button
      color="primary"
      type="submit"
      [disabled]="!searchForm.valid"
      mat-raised-button
    >
      <span>search</span>
    </button>
  </div>
</form>
