<div >
    <cdk-virtual-scroll-viewport itemSize="200" class="viewport">
      <app-patient-card
        [patient]="item"
        *cdkVirtualFor="let item of data"
      ></app-patient-card>
    </cdk-virtual-scroll-viewport>
    <!-- <app-virtual-scroll 
    [items]="data"
    [allItemsIds]="ids"
    [currentItemsIds]="ids"
    [itemSize]="20"
    [scrolledItemTemplate]="patientTemplate"
    [isLoading]="false"
    (scrolledToEnd)="fetchData($event)"></app-virtual-scroll> -->
 
</div>

<ng-template #patientTemplate let-item> </ng-template>
