<mat-card class="patient-card">
  <mat-card-header color="primary">
    <div mat-card-avatar></div>
    <mat-card-title>{{ patient?.name }} </mat-card-title>
    <mat-card-subtitle>Details <mat-icon>info</mat-icon></mat-card-subtitle>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <div>
      <mat-label> Id: </mat-label>
      <span>
        {{ patient?.id }}
      </span>
    </div>
    <div>
      <mat-label>age:</mat-label>
      <span>
        {{ patient?.age }}
      </span>
    </div>
    <div>
      <mat-label
        >acceptedOffers:<mat-icon class="green-icon"
          >checked</mat-icon
        ></mat-label
      >
      <span>{{ patient?.acceptedOffers }}</span>
      <mat-progress-bar
        mode="determinate"
        value="{{ patient?.acceptedOffers }}"
      ></mat-progress-bar>
    </div>
    <div>
      <mat-label
        >canceledOffers:<mat-icon class="red-icon">close </mat-icon></mat-label
      >
      <span>{{ patient?.canceledOffers }}</span>
      <mat-progress-bar
        mode="determinate"
        value="{{ patient?.canceledOffers }}"
      ></mat-progress-bar>
    </div>
    <div>
      <mat-label>averageReplyTime:<mat-icon>alarm</mat-icon></mat-label>
      <span>{{ patient?.averageReplyTime }} </span>
    </div>
  </mat-card-content>
</mat-card>
<mat-divider></mat-divider>
