<mat-card class="patient-card">
    <mat-card-header color="primary">
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Patient {{patient?.name}} </mat-card-title>
      <mat-card-subtitle>Details</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        id: {{patient?.id}}
        age : {{patient?.age}}
        acceptedOffers : {{patient?.acceptedOffers}}
        canceledOffers : {{patient?.canceledOffers}}
        averageReplyTime : {{patient?.averageReplyTime}}
      </p>
    </mat-card-content>
    
  </mat-card>